export default {
    moniker: 'watchdog',
    window: 24, // Сколько последних блоков анализировать
    maxErrors: 6, // Максимальное количество пропущенных за window блоков
    api: {
        type: 'node',
        endpoint: 'https://nodes.retnim.com',
        testnet: false,
    },
    txParams: {
        privateKey: String,
        publicKey: String,
    },
    telegram: {
        bot_key: String,
        chat_id: Number, // Айди канала, куда будет постить бот
    },
};
